/* form styles */

.form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.form {
    margin: auto;
    text-align: center;
    flex-grow: 1;
}

/* category and item styles */

.items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.item p {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.item-img { 
    width: 300px;
    height: 300px;
}

.item-img img {
    width: 200px;
    height: 300px;
}

/* tier-ranking styles */

.tier {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #333;
    opacity: .5;
    padding: 1rem;
    margin-top: 1rem;
}