/* form styles */

.form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.form {
    margin: auto;
    text-align: center;
    flex-grow: 1;
}

/* category and item styles */

.items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 150px;
    margin: 1rem;
    text-align: center;
    font-family: arial;

    /* as child of .tier */
    order: 2;
}

.item p {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.item-img { 
    width: 100px;
    height: 150px;
}

.item-img img {
    width: 100px;
    height: 150px;
}

/* tier-ranking styles */

.tier {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #d7d9db;
    padding: 0;
    margin-top: 1rem;
}

.tier-heading {
    /* as a child of .tier */
    order: 1; 
    flex-basis: 5rem;

    display: flex;
    justify-content: center;
}

.tier-heading p {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.tier-heading.s-tier {
    background-color: #ff4000;
}

.tier-heading.a-tier {
    background-color: #ff8000;
}

.tier-heading.b-tier {
    background-color: #ffc61a;
}

.tier-heading.c-tier {
    background-color: #ffff00;
}

.tier-heading.d-tier {
    background-color: #bfff00;
}

.tier-heading.f-tier {
    background-color: #40ff00;
}

.tier-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #d7d9db;
    padding: 2rem;
    margin-top: 1rem;
}